[ req ]
default_bits = 2048
default_keyfile = privkey.pem
distinguished_name = req_distinguished_name
x509_extensions = v3_ca
[ req_distinguished_name ]
countryName = ru
countryName_default = US
countryName_min = 2
countryName_max = 2
stateOrProvinceName = lo
stateOrProvinceName_default = lo
localityName = lo
localityName_default = lo
organizationName = diva
organizationName_default = diva
organizationalUnitName = diva
organizationalUnitName_default = diva
commonName = localhost
commonName_default = localhost
commonName_max = 64
emailAddress = tech@digitalva.ru
emailAddress_default = tech@digitalva.ru
emailAddress_max = 128
[ v3_ca ]
subjectAltName = @alt_names
[ alt_names ]
DNS.1 = localhost
# Support subdomains
#DNS.2 = *.domain.local
